button{
    border-style: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Inter",sans-serif;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--bs-primary);
    padding: 0.9rem 1.1rem;
    color: var(--bs-white);
    border-color: var(--bs-primary);
    font-weight: 500;
    width: fit-content;
}

.btn-primary:hover{
    background-color: var(--bs-terniary);
}

.btn-secondary{
    background-color: var(--bs-white);
    padding: 0.9rem 1.1rem;
    color: var(--bs-primary);
    border: 1.2px solid var(--bs-white);
}

.btn-secondary:hover{
    background-color: transparent;
    color: var(--bs-white);
}

.btn-tertiary{
    background-color: var(--bs-white);
    padding: 0.8rem 1rem;
    color: var(--bs-primary);
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
}

.btn-tertiary:hover{
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-color: var(--bs-primary);
}

.btn-simple{
    background: none;
    color: var(--bs-primary);
    text-decoration: underline;
}

.btn-simple:hover{
    color: var(--bs-dark);
}

.btn-nav{
    background: none;
    color: var(--bs-black);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.footer-btn{
    font-weight: 400;
}

.btn-nav:hover{
    color: var(--bs-info);
}

.boldText{
    font-weight: 700;
    font-size: 1.2rem;
}