a {
  text-decoration: none;
  color: var(--bs-white);
}

.logo {
  color: var(--bs-blue);
}

.header-container {
  width: 100%;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-contents {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contents h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

.menu-center ul {
  list-style: none;
  gap: 2rem;
  display: none;
}

.menu-center {
  display: block;
  font-weight: 500;
  font-size: 0.95rem;
}

.menu-right {
  display: none;
  align-items: center;
  gap: 1rem;
}

.signin-btn {
  margin-right: 1rem;
}

.menu-icon {
  z-index: 999;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .menu-center ul {
    display: flex;
  }
  .menu-right {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .menu-center ul {
    gap: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .header-contents {
    padding: 1rem 8rem;
  }
}
